<footer class="text-center py-4">
    <small>&copy; <%= new Date().getFullYear() %> Jam Journal</small>
    <p>This is app is made by Students from CSUMB</p>
    <p>We are CST 336, an internet programming class</p>
    <p> Team Seven for life</p>
    <p>The group members are as followed</p>
    <p>
        <ul>
            <li> Lesly Villanueva </li>
            <li> Eduardo Villagrana </li>
            <li> Sungmin Park </li>
            <li> Alexander Trujillo </li>
        </ul>
    </p>
</footer>