.scrolling-wrapper {
    display: flex;
    padding-bottom: 1rem;
}

.song-card {
    flex: 0 0 auto;
    width: 200px; 
    margin-right: 15px;
}

.scrolling-wrapper::-webkit-scrollbar {
    height: 8px;
}

.scrolling-wrapper::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 4px;
}

.scrolling-wrapper::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 4px;
}

.scrolling-wrapper::-webkit-scrollbar-thumb:hover {
    background: #555; 
}